In [1]:
import pandas as pd
import re
import pickle

DATA CLEANING AND PREPROCESSING

In [2]:
all_city_cars_df=pd.read_csv(r'F:\NITHYA ONLINE DATA SCIENCE\CAPSTONE-3 CAR DECO\all_city_cars.csv')
all_city_cars_df

C:\Users\hp\AppData\Local\Temp\ipykernel_6160\3378201612.py:1: DtypeWarning: Columns (61) have mixed types. Specify dtype option on import or set low_memory=False.
  all_city_cars_df=pd.read_csv(r'F:\NITHYA ONLINE DATA SCIENCE\CAPSTONE-3 CAR DECO\all_city_cars.csv')

,Ground Clearance Unladen,bt,Value Configuration,owner,ownerNo,No of Cylinder,trendingText.heading,Displacement,Wheel Size,Registration Year_value,...,Ownership_value,transmission,Gross Weight,Turbo Charger,Compression Ratio,Engine Displacement_value,Fuel Type_icon,Registration Year_icon,Kerb Weight,Fuel Type_value
0,NaN,SUV,NaN,1st Owner,1,3.0,Trending Car!,998.0,16,2022,...,First Owner,Automatic,NaN,Yes,NaN,998 cc,https://images10.gaadi.com/listing/vdp/co/v1/f...,https://images10.gaadi.com/listing/vdp/co/v1/r...,1465,Petrol
1,NaN,Minivans,DOHC,1st Owner,1,4.0,Trending Car!,1196.0,NaN,Feb 2015,...,First Owner,Manual,1540kg,No,9.9:1,1196 cc,https://images10.gaadi.com/listing/vdp/co/v1/f...,https://images10.gaadi.com/listing/vdp/co/v1/r...,943kg,Petrol
2,NaN,SUV,SOHC,1st Owner,1,3.0,Trending Car!,999.0,16,2021,...,First Owner,Manual,NaN,Yes,NaN,999 cc,https://images10.gaadi.com/listing/vdp/co/v1/f...,https://images10.gaadi.com/listing/vdp/co/v1/r...,1014,Petrol
3,NaN,Hatchback,SOHC,1st Owner,1,4.0,Trending Car!,1086.0,NaN,May 2015,...,First Owner,Manual,NaN,No,NaN,1086 cc,https://images10.gaadi.com/listing/vdp/co/v1/f...,https://images10.gaadi.com/listing/vdp/co/v1/r...,860kg,Petrol
4,NaN,Hatchback,SOHC,1st Owner,1,4.0,Trending Car!,1199.0,15,2015,...,First Owner,Manual,NaN,No,NaN,1199 cc,https://images10.gaadi.com/listing/vdp/co/v1/f...,https://images10.gaadi.com/listing/vdp/co/v1/r...,1042kg,Petrol
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,NaN,Hatchback,NaN,1st Owner,1,3.0,Trending Car!,998.0,NaN,2022,...,First Owner,Manual,1260,NaN,NaN,998 cc,https://images10.gaadi.com/listing/vdp/co/v1/f...,https://images10.gaadi.com/listing/vdp/co/v1/r...,810,Petrol
8365,NaN,Hatchback,DOHC,1st Owner,1,3.0,Trending Car!,796.0,NaN,2014,...,First Owner,Manual,1185kg,No,NaN,796 cc,https://images10.gaadi.com/listing/vdp/co/v1/f...,https://images10.gaadi.com/listing/vdp/co/v1/r...,720kg,Petrol
8366,NaN,Sedan,NaN,3rd Owner,3,4.0,Trending Car!,1796.0,17,2011,...,Third Owner,Automatic,2020kg,No,9.3:1,1796 cc,https://images10.gaadi.com/listing/vdp/co/v1/f...,https://images10.gaadi.com/listing/vdp/co/v1/r...,1585kg,Petrol
8367,NaN,Hatchback,DOHC,1st Owner,1,4.0,Trending Car!,1197.0,14,2012,...,First Owner,Manual,1430kg,No,NaN,1197 cc,https://images10.gaadi.com/listing/vdp/co/v1/f...,https://images10.gaadi.com/listing/vdp/co/v1/r...,1030kg,Petrol
8368,NaN,SUV,DOHC,2nd Owner,2,4.0,Trending Car!,1461.0,16,2017,...,Second Owner,Manual,1889kg,Yes,NaN,1461 cc,https://images10.gaadi.com/listing/vdp/co/v1/f...,https://images10.gaadi.com/listing/vdp/co/v1/r...,1350,Diesel

In [3]:
all_city_cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 84 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Ground Clearance Unladen   515 non-null    object
 1   bt                         8365 non-null   object
 2   Value Configuration        6153 non-null   object
 3   owner                      8369 non-null   object
 4   ownerNo                    8369 non-null   int64
 5   No of Cylinder             8338 non-null   float64
 6   trendingText.heading       8369 non-null   object
 7   Displacement               8365 non-null   float64
 8   Wheel Size                 5386 non-null   object
 9   Registration Year_value    8317 non-null   object
 10  Ownership_icon             8337 non-null   object
 11  Top_Features               8369 non-null   object
 12  RTO_value                  7475 non-null   object
 13  priceFixedText             0 non-null      float64
 14  Values per Cylinder        8318 non-null   float64
 15  Seats                      8363 non-null   float64
 16  Height                     8290 non-null   object
 17  Transmission_value         8369 non-null   object
 18  Alloy Wheel Size           5386 non-null   object
 19  No Door Numbers            8358 non-null   float64
 20  city                       8369 non-null   object
 21  Cargo Volumn               6776 non-null   object
 22  Rear Brake Type            8273 non-null   object
 23  km                         8369 non-null   object
 24  Kms Driven_value           8367 non-null   object
 25  Steering Type              8114 non-null   object
 26  Max Power                  8309 non-null   object
 27  it                         8369 non-null   int64
 28  Torque                     8309 non-null   object
 29  Turning Radius             6769 non-null   object
 30  priceSaving                0 non-null      float64
 31  Kms Driven_icon            8367 non-null   object
 32  trendingText.desc          8369 non-null   object
 33  Engine Type                8074 non-null   object
 34  Seating Capacity           8363 non-null   float64
 35  car_links                  8369 non-null   object
 36  Insurance Validity_icon    8365 non-null   object
 37  Seats_icon                 8363 non-null   object
 38  Rear Tread                 4799 non-null   object
 39  variantName                8369 non-null   object
 40  Super Charger              6407 non-null   object
 41  Year of Manufacture_value  8349 non-null   float64
 42  price                      8369 non-null   object
 43  Engine                     8365 non-null   object
 44  model                      8369 non-null   object
 45  Mileage                    8082 non-null   object
 46  modelYear                  8369 non-null   int64
 47  Tyre Type                  8292 non-null   object
 48  Length                     8290 non-null   object
 49  Common_Icon                8369 non-null   object
 50  Common_Icon.1              0 non-null      float64
 51  ft                         8369 non-null   object
 52  Width                      8286 non-null   object
 53  Color                      8366 non-null   object
 54  Front Tread                4811 non-null   object
 55  BoreX Stroke               2405 non-null   object
 56  oem                        8369 non-null   object
 57  Front Brake Type           8273 non-null   object
 58  Gear Box                   8263 non-null   object
 59  Max Torque                 8309 non-null   object
 60  Drive Type                 6809 non-null   object
 61  priceActual                1670 non-null   object
 62  centralVariantId           8369 non-null   int64
 63  Engine Displacement_icon   8365 non-null   object
 64  Transmission_icon          8369 non-null   object
 65  Seats_value                8363 non-null   object
 66  Year of Manufacture_icon   8349 non-null   object
 67  Wheel Base                 8206 non-null   object
 68  Insurance Validity_value   8365 non-null   object
 69  trendingText.imgUrl        8369 non-null   object
 70  Top Speed                  4607 non-null   object
 71  RTO_icon                   7481 non-null   object
 72  Acceleration               4857 non-null   object
 73  Fuel Suppy System          6642 non-null   object
 74  Ownership_value            8337 non-null   object
 75  transmission               8369 non-null   object
 76  Gross Weight               3828 non-null   object
 77  Turbo Charger              7329 non-null   object
 78  Compression Ratio          1895 non-null   object
 79  Engine Displacement_value  8365 non-null   object
 80  Fuel Type_icon             8369 non-null   object
 81  Registration Year_icon     8317 non-null   object
 82  Kerb Weight                8310 non-null   object
 83  Fuel Type_value            8369 non-null   object
dtypes: float64(10), int64(4), object(70)
memory usage: 5.4+ MB

Drop unwanted column

In [4]:
# Engine Displacement_value  and Engine_value are same column so drop any one column,
# Kms Driven_value   and  km   are same column so drop any one column
# owner,Ownership_value and ownerNo are same column so drop any TWO column,....Many Columns Like This and Droped the all icon columns
# Drop The Columns with more null values


# List of columns to drop
columns_to_drop = ['Ground Clearance Unladen', 'Value Configuration', 'trendingText.heading', 'Ownership_icon', 
                   'Top_Features', 'priceFixedText','Wheel Size','RTO_value','Cargo Volumn','Alloy Wheel Size', 'Kms Driven_value',
                   'Steering Type','it', 'Turning Radius', 'priceSaving', 'Kms Driven_icon', 'trendingText.desc', 'Engine Type', 
                   'car_links', 'Insurance Validity_icon', 'Seats_icon', 'Rear Tread', 'Super Charger','Wheel Base',
                   'Common_Icon', 'Common_Icon.1','Front Tread','BoreX Stroke', 'Drive Type', 'priceActual', 'Engine Displacement_icon', 
                   'Transmission_icon', 'Year of Manufacture_icon','Turbo Charger', 'Rear Brake Type', 'trendingText.imgUrl', 'Top Speed', 'RTO_icon', 
                   'Acceleration', 'Fuel Suppy System', 'Gross Weight','Height','Compression Ratio', 'Fuel Type_icon', 
                   'Registration Year_icon','Front Brake Type','Gear Box','owner','Max Power','Seating Capacity','Seats_value','Ownership_value',
                   'Kerb Weight','Fuel Type_value','Displacement','No Door Numbers','Values per Cylinder','Max Torque','centralVariantId',
                   'Transmission_value','Engine','Tyre Type','variantName','Year of Manufacture_value','Registration Year_value','No of Cylinder','Torque']

# Drop the columns from the DataFrame
all_city_cars_df = all_city_cars_df.drop(columns=columns_to_drop, errors='ignore')

In [5]:
all_city_cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   bt                         8365 non-null   object
 1   ownerNo                    8369 non-null   int64
 2   Seats                      8363 non-null   float64
 3   city                       8369 non-null   object
 4   km                         8369 non-null   object
 5   price                      8369 non-null   object
 6   model                      8369 non-null   object
 7   Mileage                    8082 non-null   object
 8   modelYear                  8369 non-null   int64
 9   Length                     8290 non-null   object
 10  ft                         8369 non-null   object
 11  Width                      8286 non-null   object
 12  Color                      8366 non-null   object
 13  oem                        8369 non-null   object
 14  Insurance Validity_value   8365 non-null   object
 15  transmission               8369 non-null   object
 16  Engine Displacement_value  8365 non-null   object
dtypes: float64(1), int64(2), object(14)
memory usage: 1.1+ MB

In [6]:
all_city_cars_df

,bt,ownerNo,Seats,city,km,price,model,Mileage,modelYear,Length,ft,Width,Color,oem,Insurance Validity_value,transmission,Engine Displacement_value
0,SUV,1,5.0,chennai,"20,000",₹ 11.50 Lakh,Kia Sonet,NaN,2022,3995mm,Petrol,1790,Black,Kia,Third Party insurance,Automatic,998 cc
1,Minivans,1,7.0,chennai,"20,687",₹ 4.15 Lakh,Maruti Eeco,15.37 kmpl,2015,3675mm,Petrol,1475mm,Grey,Maruti,Comprehensive,Manual,1196 cc
2,SUV,1,5.0,chennai,"30,000",₹ 7.50 Lakh,Nissan Magnite,20 kmpl,2021,3994mm,Petrol,1758,Others,Nissan,Third Party insurance,Manual,999 cc
3,Hatchback,1,5.0,chennai,"59,247",₹ 3.98 Lakh,Hyundai i10,19.81 kmpl,2015,3585mm,Petrol,1595mm,Silver,Hyundai,Comprehensive,Manual,1086 cc
4,Hatchback,1,5.0,chennai,"50,000",₹ 5.50 Lakh,Honda Jazz,18.7 kmpl,2015,3955mm,Petrol,1694mm,Others,Honda,Third Party insurance,Manual,1199 cc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,Hatchback,1,5.0,Kolkata,"10,000",₹ 5.10 Lakh,Maruti Celerio,25.24 kmpl,2022,3695mm,Petrol,1655,Others,Maruti,Third Party insurance,Manual,998 cc
8365,Hatchback,1,5.0,Kolkata,"1,20,000",₹ 1.80 Lakh,Maruti Alto 800,22.74 kmpl,2014,3395mm,Petrol,1490mm,Others,Maruti,Third Party insurance,Manual,796 cc
8366,Sedan,3,5.0,Kolkata,"50,000",₹ 5.50 Lakh,Mercedes-Benz C-Class,11.74 kmpl,2011,4591mm,Petrol,1770mm,Others,Mercedes-Benz,Third Party insurance,Automatic,1796 cc
8367,Hatchback,1,5.0,Kolkata,"40,000",₹ 1.40 Lakh,Maruti Ritz,18.5 kmpl,2012,3775mm,Petrol,1680mm,Others,Maruti,Third Party insurance,Manual,1197 cc
8368,SUV,2,5.0,Kolkata,"1,20,000",₹ 5 Lakh,Renault Duster,19.72 kmpl,2017,4315mm,Diesel,1822mm,Others,Renault,Third Party insurance,Manual,1461 cc

 Identifying Missing Values

In [7]:
missing_values = all_city_cars_df.isnull().sum()
print(missing_values[missing_values > 0])

bt                             4
Seats                          6
Mileage                      287
Length                        79
Width                         83
Color                          3
Insurance Validity_value       4
Engine Displacement_value      4
dtype: int64

Handling Missing Values

In [8]:
# Fill missing 'bt' (body type) values by propagating values within the same 'model'
all_city_cars_df['bt'] = all_city_cars_df.groupby('model')['bt'].transform(lambda group: group.ffill().bfill())


# If any missing values remain, fill them with the most common 'bt' value
all_city_cars_df['bt'].fillna(all_city_cars_df['bt'].mode()[0], inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_6160\824903459.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  all_city_cars_df['bt'] = all_city_cars_df.groupby('model')['bt'].transform(lambda group: group.ffill().bfill())
C:\Users\hp\AppData\Local\Temp\ipykernel_6160\824903459.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  all_city_cars_df['bt'].fillna(all_city_cars_df['bt'].mode()[0], inplace=True)

In [9]:
# Fill missing 'Seats_value values by propagating values within the same 'model'
all_city_cars_df['Seats'] = all_city_cars_df.groupby('model')['Seats'].transform(lambda group: group.ffill().bfill())

In [10]:
# Handling remaining columns as needed
all_city_cars_df['Engine Displacement_value']=all_city_cars_df.groupby('model')['Engine Displacement_value'].transform(lambda group: group.ffill().bfill())
all_city_cars_df['Insurance Validity_value'].fillna(all_city_cars_df['Insurance Validity_value'].mode()[0], inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_6160\1228759767.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  all_city_cars_df['Insurance Validity_value'].fillna(all_city_cars_df['Insurance Validity_value'].mode()[0], inplace=True)

In [11]:
# Fill missing 'Mileage_value'  values by propagating values within the same 'model'
all_city_cars_df['Mileage_value(Kmpl)'] = all_city_cars_df.groupby('model')['Mileage'].transform(lambda group: group.ffill().bfill())
all_city_cars_df.drop(columns='Mileage',inplace=True)

all_city_cars_df['Length'] = all_city_cars_df.groupby('model')['Length'].transform(lambda group: group.ffill().bfill())
all_city_cars_df['Width'] = all_city_cars_df.groupby('model')['Width'].transform(lambda group: group.ffill().bfill())

C:\Users\hp\AppData\Local\Temp\ipykernel_6160\96734509.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  all_city_cars_df['Mileage_value(Kmpl)'] = all_city_cars_df.groupby('model')['Mileage'].transform(lambda group: group.ffill().bfill())
C:\Users\hp\AppData\Local\Temp\ipykernel_6160\96734509.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  all_city_cars_df['Length'] = all_city_cars_df.groupby('model')['Length'].transform(lambda group: group.ffill().bfill())
C:\Users\hp\AppData\Local\Temp\ipykernel_6160\96734509.py:6: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  all_city_cars_df['Width'] = all_city_cars_df.groupby('model')['Width'].transform(lambda group: group.ffill().bfill())

In [12]:
missing_values = all_city_cars_df.isnull().sum()
print(missing_values[missing_values > 0])

Seats                   3
Length                 10
Width                  10
Color                   3
Mileage_value(Kmpl)    76
dtype: int64

In [13]:
# Remove rows with null values in specified columns
all_city_cars_df.dropna(subset='Mileage_value(Kmpl)',inplace=True)

Standardising Data Formats:

In [14]:
# Ensure 'km' is treated as a string, remove commas, and convert to integer safely
all_city_cars_df['km'] = all_city_cars_df['km'].astype(str).str.replace(',', '')

# Use pd.to_numeric to convert, coercing errors to NaN
all_city_cars_df['km'] = pd.to_numeric(all_city_cars_df['km'], errors='coerce')

In [15]:
all_city_cars_df.head()

,bt,ownerNo,Seats,city,km,price,model,modelYear,Length,ft,Width,Color,oem,Insurance Validity_value,transmission,Engine Displacement_value,Mileage_value(Kmpl)
0,SUV,1,5.0,chennai,20000,₹ 11.50 Lakh,Kia Sonet,2022,3995mm,Petrol,1790,Black,Kia,Third Party insurance,Automatic,998 cc,18.2 kmpl
1,Minivans,1,7.0,chennai,20687,₹ 4.15 Lakh,Maruti Eeco,2015,3675mm,Petrol,1475mm,Grey,Maruti,Comprehensive,Manual,1196 cc,15.37 kmpl
2,SUV,1,5.0,chennai,30000,₹ 7.50 Lakh,Nissan Magnite,2021,3994mm,Petrol,1758,Others,Nissan,Third Party insurance,Manual,999 cc,20 kmpl
3,Hatchback,1,5.0,chennai,59247,₹ 3.98 Lakh,Hyundai i10,2015,3585mm,Petrol,1595mm,Silver,Hyundai,Comprehensive,Manual,1086 cc,19.81 kmpl
4,Hatchback,1,5.0,chennai,50000,₹ 5.50 Lakh,Honda Jazz,2015,3955mm,Petrol,1694mm,Others,Honda,Third Party insurance,Manual,1199 cc,18.7 kmpl

In [16]:
def convert_numeric(value):
    new = value.replace("₹", "").replace(',', '').strip()
    if "Lakh" in new:
        return float(new.replace('Lakh', '').strip()) * 1e5
    elif "Crore" in new:
        return float(new.replace("Crore", "").strip()) * 1e7
    else:
        return float(new)

# Apply the function to the 'price' column correctly
all_city_cars_df["price"] = all_city_cars_df["price"].apply(convert_numeric)

In [17]:
all_city_cars_df.head()

,bt,ownerNo,Seats,city,km,price,model,modelYear,Length,ft,Width,Color,oem,Insurance Validity_value,transmission,Engine Displacement_value,Mileage_value(Kmpl)
0,SUV,1,5.0,chennai,20000,1150000.0,Kia Sonet,2022,3995mm,Petrol,1790,Black,Kia,Third Party insurance,Automatic,998 cc,18.2 kmpl
1,Minivans,1,7.0,chennai,20687,415000.0,Maruti Eeco,2015,3675mm,Petrol,1475mm,Grey,Maruti,Comprehensive,Manual,1196 cc,15.37 kmpl
2,SUV,1,5.0,chennai,30000,750000.0,Nissan Magnite,2021,3994mm,Petrol,1758,Others,Nissan,Third Party insurance,Manual,999 cc,20 kmpl
3,Hatchback,1,5.0,chennai,59247,398000.0,Hyundai i10,2015,3585mm,Petrol,1595mm,Silver,Hyundai,Comprehensive,Manual,1086 cc,19.81 kmpl
4,Hatchback,1,5.0,chennai,50000,550000.0,Honda Jazz,2015,3955mm,Petrol,1694mm,Others,Honda,Third Party insurance,Manual,1199 cc,18.7 kmpl

In [18]:
all_city_cars_df.head()

,bt,ownerNo,Seats,city,km,price,model,modelYear,Length,ft,Width,Color,oem,Insurance Validity_value,transmission,Engine Displacement_value,Mileage_value(Kmpl)
0,SUV,1,5.0,chennai,20000,1150000.0,Kia Sonet,2022,3995mm,Petrol,1790,Black,Kia,Third Party insurance,Automatic,998 cc,18.2 kmpl
1,Minivans,1,7.0,chennai,20687,415000.0,Maruti Eeco,2015,3675mm,Petrol,1475mm,Grey,Maruti,Comprehensive,Manual,1196 cc,15.37 kmpl
2,SUV,1,5.0,chennai,30000,750000.0,Nissan Magnite,2021,3994mm,Petrol,1758,Others,Nissan,Third Party insurance,Manual,999 cc,20 kmpl
3,Hatchback,1,5.0,chennai,59247,398000.0,Hyundai i10,2015,3585mm,Petrol,1595mm,Silver,Hyundai,Comprehensive,Manual,1086 cc,19.81 kmpl
4,Hatchback,1,5.0,chennai,50000,550000.0,Honda Jazz,2015,3955mm,Petrol,1694mm,Others,Honda,Third Party insurance,Manual,1199 cc,18.7 kmpl

In [19]:
def extract_cc(value):
    if isinstance(value, str):  # Check if the value is a string
        try:
            return int(value.split()[0])  # Extract the first part and convert to int
        except (ValueError, IndexError):
            return None
    return None  # Return None for non-string (e.g., float) values

# Apply the function to extract seat values
all_city_cars_df['Engine Displacement_value(cc)'] = all_city_cars_df['Engine Displacement_value'].apply(extract_cc)

# Convert the 'Engine Displacement_value in cc' column to integers
all_city_cars_df['Engine Displacement_value(cc)' ] = all_city_cars_df['Engine Displacement_value(cc)'].astype(int)

# Drop the old 'Engine Displacement_value' column 
all_city_cars_df.drop('Engine Displacement_value', axis=1, inplace=True)

In [20]:
all_city_cars_df.head()

,bt,ownerNo,Seats,city,km,price,model,modelYear,Length,ft,Width,Color,oem,Insurance Validity_value,transmission,Mileage_value(Kmpl),Engine Displacement_value(cc)
0,SUV,1,5.0,chennai,20000,1150000.0,Kia Sonet,2022,3995mm,Petrol,1790,Black,Kia,Third Party insurance,Automatic,18.2 kmpl,998
1,Minivans,1,7.0,chennai,20687,415000.0,Maruti Eeco,2015,3675mm,Petrol,1475mm,Grey,Maruti,Comprehensive,Manual,15.37 kmpl,1196
2,SUV,1,5.0,chennai,30000,750000.0,Nissan Magnite,2021,3994mm,Petrol,1758,Others,Nissan,Third Party insurance,Manual,20 kmpl,999
3,Hatchback,1,5.0,chennai,59247,398000.0,Hyundai i10,2015,3585mm,Petrol,1595mm,Silver,Hyundai,Comprehensive,Manual,19.81 kmpl,1086
4,Hatchback,1,5.0,chennai,50000,550000.0,Honda Jazz,2015,3955mm,Petrol,1694mm,Others,Honda,Third Party insurance,Manual,18.7 kmpl,1199

In [21]:
# Convert the 'Year of Manufacture_value ' column to integers
all_city_cars_df['modelYear'] = all_city_cars_df['modelYear'].astype(int)

In [22]:
all_city_cars_df.head()

,bt,ownerNo,Seats,city,km,price,model,modelYear,Length,ft,Width,Color,oem,Insurance Validity_value,transmission,Mileage_value(Kmpl),Engine Displacement_value(cc)
0,SUV,1,5.0,chennai,20000,1150000.0,Kia Sonet,2022,3995mm,Petrol,1790,Black,Kia,Third Party insurance,Automatic,18.2 kmpl,998
1,Minivans,1,7.0,chennai,20687,415000.0,Maruti Eeco,2015,3675mm,Petrol,1475mm,Grey,Maruti,Comprehensive,Manual,15.37 kmpl,1196
2,SUV,1,5.0,chennai,30000,750000.0,Nissan Magnite,2021,3994mm,Petrol,1758,Others,Nissan,Third Party insurance,Manual,20 kmpl,999
3,Hatchback,1,5.0,chennai,59247,398000.0,Hyundai i10,2015,3585mm,Petrol,1595mm,Silver,Hyundai,Comprehensive,Manual,19.81 kmpl,1086
4,Hatchback,1,5.0,chennai,50000,550000.0,Honda Jazz,2015,3955mm,Petrol,1694mm,Others,Honda,Third Party insurance,Manual,18.7 kmpl,1199

In [23]:
# Function to clean and normalize mileage values
def clean_mileage(value):
    # Check for blank or empty values
    if pd.isna(value) or str(value).strip() == '':
        return None  # Return None or 0 as preferred

    # Match numerical value with optional unit (kmpl)
    match = re.search(r"(\d*\.?\d+)\s*(kmpl)?", str(value), re.IGNORECASE)
    
    if match:
        return round(float(match.group(1)), 2)  # Return the cleaned and rounded value
    return None

# Apply the cleaning function to the 'Mileage' column
all_city_cars_df['Mileage_value(Kmpl)'] = all_city_cars_df['Mileage_value(Kmpl)'].apply(clean_mileage)

# Drop the old column
all_city_cars_df.drop('Mileage_value(Kmpl)', axis=1, inplace=True)

In [24]:
all_city_cars_df.head()

,bt,ownerNo,Seats,city,km,price,model,modelYear,Length,ft,Width,Color,oem,Insurance Validity_value,transmission,Engine Displacement_value(cc)
0,SUV,1,5.0,chennai,20000,1150000.0,Kia Sonet,2022,3995mm,Petrol,1790,Black,Kia,Third Party insurance,Automatic,998
1,Minivans,1,7.0,chennai,20687,415000.0,Maruti Eeco,2015,3675mm,Petrol,1475mm,Grey,Maruti,Comprehensive,Manual,1196
2,SUV,1,5.0,chennai,30000,750000.0,Nissan Magnite,2021,3994mm,Petrol,1758,Others,Nissan,Third Party insurance,Manual,999
3,Hatchback,1,5.0,chennai,59247,398000.0,Hyundai i10,2015,3585mm,Petrol,1595mm,Silver,Hyundai,Comprehensive,Manual,1086
4,Hatchback,1,5.0,chennai,50000,550000.0,Honda Jazz,2015,3955mm,Petrol,1694mm,Others,Honda,Third Party insurance,Manual,1199

In [25]:
# Example: Rename specific columns using a dictionary
all_city_cars_df = all_city_cars_df.rename(columns={
    'ft':'Fuel type',
    'bt':'Body type',
    'km':'kilometer driven',
    'transmission':'Transmission type',
    'ownerNo':'Number of previous owners',
    'oem':'Brand Name',
    'model':'Car model',
    'modelYear':'Year of car manufacture'
})

print(all_city_cars_df.head())

   Body type  Number of previous owners  Seats     city  kilometer driven  \
0        SUV                          1    5.0  chennai             20000
1   Minivans                          1    7.0  chennai             20687
2        SUV                          1    5.0  chennai             30000
3  Hatchback                          1    5.0  chennai             59247
4  Hatchback                          1    5.0  chennai             50000

       price       Car model  Year of car manufacture  Length Fuel type  \
0  1150000.0       Kia Sonet                     2022  3995mm    Petrol
1   415000.0     Maruti Eeco                     2015  3675mm    Petrol
2   750000.0  Nissan Magnite                     2021  3994mm    Petrol
3   398000.0     Hyundai i10                     2015  3585mm    Petrol
4   550000.0      Honda Jazz                     2015  3955mm    Petrol

    Width   Color Brand Name Insurance Validity_value Transmission type  \
0    1790   Black        Kia    Third Party insurance         Automatic
1  1475mm    Grey     Maruti            Comprehensive            Manual
2    1758  Others     Nissan    Third Party insurance            Manual
3  1595mm  Silver    Hyundai            Comprehensive            Manual
4  1694mm  Others      Honda    Third Party insurance            Manual

   Engine Displacement_value(cc)
0                            998
1                           1196
2                            999
3                           1086
4                           1199

In [26]:
all_city_cars_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8293 entries, 0 to 8368
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Body type                      8293 non-null   object
 1   Number of previous owners      8293 non-null   int64
 2   Seats                          8290 non-null   float64
 3   city                           8293 non-null   object
 4   kilometer driven               8293 non-null   int64
 5   price                          8293 non-null   float64
 6   Car model                      8293 non-null   object
 7   Year of car manufacture        8293 non-null   int64
 8   Length                         8286 non-null   object
 9   Fuel type                      8293 non-null   object
 10  Width                          8286 non-null   object
 11  Color                          8290 non-null   object
 12  Brand Name                     8293 non-null   object
 13  Insurance Validity_value       8293 non-null   object
 14  Transmission type              8293 non-null   object
 15  Engine Displacement_value(cc)  8293 non-null   int64
dtypes: float64(2), int64(4), object(10)
memory usage: 1.1+ MB

In [27]:
# Drop columns where all values are NaN
all_city_cars_df = all_city_cars_df.dropna(axis=1, how='all')

print(all_city_cars_df)

      Body type  Number of previous owners  Seats     city  kilometer driven  \
0           SUV                          1    5.0  chennai             20000
1      Minivans                          1    7.0  chennai             20687
2           SUV                          1    5.0  chennai             30000
3     Hatchback                          1    5.0  chennai             59247
4     Hatchback                          1    5.0  chennai             50000
...         ...                        ...    ...      ...               ...
8364  Hatchback                          1    5.0  Kolkata             10000
8365  Hatchback                          1    5.0  Kolkata            120000
8366      Sedan                          3    5.0  Kolkata             50000
8367  Hatchback                          1    5.0  Kolkata             40000
8368        SUV                          2    5.0  Kolkata            120000

          price              Car model  Year of car manufacture  Length  \
0     1150000.0              Kia Sonet                     2022  3995mm
1      415000.0            Maruti Eeco                     2015  3675mm
2      750000.0         Nissan Magnite                     2021  3994mm
3      398000.0            Hyundai i10                     2015  3585mm
4      550000.0             Honda Jazz                     2015  3955mm
...         ...                    ...                      ...     ...
8364   510000.0         Maruti Celerio                     2022  3695mm
8365   180000.0        Maruti Alto 800                     2014  3395mm
8366   550000.0  Mercedes-Benz C-Class                     2011  4591mm
8367   140000.0            Maruti Ritz                     2012  3775mm
8368   500000.0         Renault Duster                     2017  4315mm

     Fuel type   Width   Color     Brand Name Insurance Validity_value  \
0       Petrol    1790   Black            Kia    Third Party insurance
1       Petrol  1475mm    Grey         Maruti            Comprehensive
2       Petrol    1758  Others         Nissan    Third Party insurance
3       Petrol  1595mm  Silver        Hyundai            Comprehensive
4       Petrol  1694mm  Others          Honda    Third Party insurance
...        ...     ...     ...            ...                      ...
8364    Petrol    1655  Others         Maruti    Third Party insurance
8365    Petrol  1490mm  Others         Maruti    Third Party insurance
8366    Petrol  1770mm  Others  Mercedes-Benz    Third Party insurance
8367    Petrol  1680mm  Others         Maruti    Third Party insurance
8368    Diesel  1822mm  Others        Renault    Third Party insurance

     Transmission type  Engine Displacement_value(cc)
0            Automatic                            998
1               Manual                           1196
2               Manual                            999
3               Manual                           1086
4               Manual                           1199
...                ...                            ...
8364            Manual                            998
8365            Manual                            796
8366         Automatic                           1796
8367            Manual                           1197
8368            Manual                           1461

[8293 rows x 16 columns]

In [28]:
# Drop rows where any value is NaN
all_city_cars_df = all_city_cars_df.dropna()

print(all_city_cars_df.info())  # To check how many rows remain after dropping

<class 'pandas.core.frame.DataFrame'>
Index: 8283 entries, 0 to 8368
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Body type                      8283 non-null   object
 1   Number of previous owners      8283 non-null   int64
 2   Seats                          8283 non-null   float64
 3   city                           8283 non-null   object
 4   kilometer driven               8283 non-null   int64
 5   price                          8283 non-null   float64
 6   Car model                      8283 non-null   object
 7   Year of car manufacture        8283 non-null   int64
 8   Length                         8283 non-null   object
 9   Fuel type                      8283 non-null   object
 10  Width                          8283 non-null   object
 11  Color                          8283 non-null   object
 12  Brand Name                     8283 non-null   object
 13  Insurance Validity_value       8283 non-null   object
 14  Transmission type              8283 non-null   object
 15  Engine Displacement_value(cc)  8283 non-null   int64
dtypes: float64(2), int64(4), object(10)
memory usage: 1.1+ MB
None

In [29]:
all_city_cars_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8283 entries, 0 to 8368
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Body type                      8283 non-null   object
 1   Number of previous owners      8283 non-null   int64
 2   Seats                          8283 non-null   float64
 3   city                           8283 non-null   object
 4   kilometer driven               8283 non-null   int64
 5   price                          8283 non-null   float64
 6   Car model                      8283 non-null   object
 7   Year of car manufacture        8283 non-null   int64
 8   Length                         8283 non-null   object
 9   Fuel type                      8283 non-null   object
 10  Width                          8283 non-null   object
 11  Color                          8283 non-null   object
 12  Brand Name                     8283 non-null   object
 13  Insurance Validity_value       8283 non-null   object
 14  Transmission type              8283 non-null   object
 15  Engine Displacement_value(cc)  8283 non-null   int64
dtypes: float64(2), int64(4), object(10)
memory usage: 1.1+ MB

In [30]:
all_city_cars_df.to_csv('all_car_details.csv')